*{
    margin: 0;
    padding: 0;
/* header */

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.315),rgba(255, 255, 255, 0.315)) ,url(./img/amer\ fort.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(./img/amerfort.jfif); */
}
/* .logo{

    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed green;
    background-color:lemonchiffon;
    border-radius: 50%;
    color:red;
    font-family: 'Times New Roman', Times, serif;
} */

.logo a img{
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    
   
}
.nav-link ul li a{
    color:blue;
    text-decoration: none;
    font-size: 15px;
}
.nav-link ul li::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    color: red;
}
.text-box p{
    padding-top: 20px;
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.hero-btn{
    
    text-decoration: none;
    font-size: bold;
    border:4px dotted yellow;
    padding: 12px 34px;
    font-size: 20px;
    font-weight: bold;
    background-color:transparent;
    position: relative;
    color: blue;
    cursor: pointer;
    transition: 2s;
}
.hero-btn:hover{
    border: 1px solid black;
    background: purple;
    
}

 @media (max-width:700px){
    text-box h1{
        font-size: 30px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    
    .nav-link ul{
        padding: 30px;
    }
}

/* visiting places */
.places{
    margin-top: 20px;
}
.places dl li {
    width: 80%;
    text-align: center;
    margin: auto;
}
li{
    color: rgb(170, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    line-height: 20px;
    padding: 10px;
}
.row{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visit-col{
    flex-basis: 31%;
    height: 35vh;
    background:#efa5a5c5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 5s;
    color:purple;
}
h3{
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    margin: 10px o;
    color: red;
}
p{
    line-height: 1.5rem;
    word-spacing: 5px;
    font-size: 15px;
}


@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}
/* view */

.view{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:5px;
}
.viewh{
    font-weight: bolder;
}
.view p {
    padding-top: 5px;
    font-size: 20px;
}
.column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.photo-col{
    
    border-radius: 10px;
    margin-bottom: 30px;
    height: 35vh;
    width: 30vw;
    position: relative;
    overflow: hidden;
}
.photo-col img{
    width: 100%;
    display: block;
}
.layer h3{
    background:transparent;
    padding-top: 15px;
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: 0.8s;
}
.layer :hover{
    background: rgba(255, 255, 255, 0.421);
}

.row :hover{
    background-color:lightgreen;
    transition: 0.4s;
}


  /* .layer h3{
    width: 100%;
    font-weight: 500;
    color:pur;
    font-size: 26px;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.8s;
}
.layer :hover h3{
    bottom: 49%;
    opacity: 1;
}   */

.parent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.famous{
     /* width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;  */
/* 
    display: flex; */
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width: 100%; 
    text-align: center;
}
.famous h{
    font-weight: bolder;
}
.famous-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left; 
    width: 35vw;
    height: 4ovh;
     
    /* border-radius: 10px;
    margin-bottom: 30px;
    height: 35vh;
    width: 30vw;
    position: relative;
    overflow: hidden; */
}
.famous-col img{
     width: 100%;
     height: 40vh;
    border-radius: 10px;

    /* width: 100%;
    display: block; */
}
.famous-col p{
    padding-bottom: 0;
}
.famous-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
/* testonomials */

.testonomials{
      /* width: 80%;
      margin: auto;
      padding-top: 100px;
      text-align: center; */

      justify-content: space-around;
      align-items: center;
      padding-bottom: 20px;
      width: 100%; 
      text-align: center;
}



.horizontal{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.testonomials-col{
    /* flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px;
    text-align: left;
    background-color: lightsalmon;
    cursor: pointer; */

     /* display: flex;
    align-items: center;
    justify-content: space-between; */
    
    flex-basis: 31%;
    border-radius: 5px;
    margin-bottom: 5%;
    text-align: left; 
    width: 35vw;
    height: 4ovh;
    background-color:lightslategrey;
}

.testonomials-col img{
     height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; 
    margin-top: 10px;


}

.testonomials-col p{
    padding: 0;
}

.testonomials-col h3{
    margin-top: 15px;
    text-align: left;
}

.fa{
    color: yellow;
}

/* @media (max-width:700px){
    .testonomials-col img{ 
    height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; 
}
} */

/*  icon  */
 /* .icon{
    text-align: center;
 } */
/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color:#f44336;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: black;
}


/* icon */
    .icon{
        background-image:url(.//img/pexels-brett-jordan-5426401.jpg);
        background-position: center;
        margin: 100px auto;
        width: 80%;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        padding: 100px 0;
        height: 500px;
    }

    .icon h1{
        color: white;
        margin-bottom: 40px;
        padding: 0;
    }
    .hero-btn{
        text-decoration: none;
        font-size: bold;
        border: 6px white;
        padding: 12px 34px;
        font-size: 20px;
        font-weight: bold;
        background-color:transparent;
        position: relative;
        color: blue;
        cursor: pointer;
        transition: 2s;
    }
    
    

  .icon-col{
    flex-basis: 31%;
    border-radius: 10px;
    text-align: left; 
    width: 35vw;
    height: 4ovh;
    margin-left: 43%;
    margin-bottom: 50px;
    margin-top: 100px;
   
    
  }
  .icon-col img{
    height: 50px;
    width: 50px;
  }

  /* feedback */

  .fdb{
    background-color: burlywood;
    width: 50%;
    margin: auto;
  }


  
 .text-area{
    border: 3px solid black;
    margin-left: 25%;
    height: 80px;
    width: 50%;
    align-items: center;
    color: #f44336;
 } 

 .text-area:hover{
    background-color: yellowgreen;
  }

  .btx{
    margin: auto;
    border: 2px solid red;
    color: teal;
    margin-left: 45%;
    font-weight: 700;
  }

  .btx:hover{
    background-color: yellow;
  }